body {
  padding: 0;
  background: #FFF;
  font: 13px Helvetica;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
}

#toggle {
  float: right;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
}

.nav {
  height: 40px;
  border-bottom: 1px solid #DDD;
  }
  .nav h1 {
    font-size: 22px;
    color: red;
    }

.pin-board {
  background: #EEE;
  padding: 10px;
  float: left;
  position: relative;
  }

.column {
  float: left;
  width: 170px;
  margin-left: 10px;
  }
  .column:first-child {
    margin-left: 0;
    }

.pin {
  width: 150px;
  margin-bottom: 10px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #DDD;
  border-collapse: border-box;
  }
  .pin h3 {
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    }
  .pin img {
    margin-bottom: 5px;
  }
  .pin small {
    color: #999;
    }
